<!-- src/app/app.component.html -->

<main class="main">
  <div>
    <img src="assets/logo.svg" alt="Bibliomation Logo" class="biblio-logo" />
    <app-nav></app-nav>
    <h1>Welcome</h1>
    <p>
      Bibliomation is Connecticut’s largest library consortium. Sixty-eight public libraries, three special, and 10
      schools share an Evergreen system with centralized cataloging and a shared computer network. Bibliomation is
      Connecticut’s only open source consortium.
    </p>
  </div>
</main>

<router-outlet></router-outlet>