.biblio-logo {
    min-width: 30rem;
}

.hero {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(120deg, #f3f3f3, #e2e2e2);
}

.services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}