.hero {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(120deg, #f3f3f3, #e2e2e2);
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

body {
    display: flex;
}

mat-card {
    width: 45%;
}
