<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <app-nav></app-nav> <!-- Include the NavComponent here -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bibliomation</span>
    </mat-toolbar>

    <!-- Main Content Component -->
    <main>
      <section class="hero">
        <img src="assets/logo.svg" alt="bibliomation logo" class="biblio-logo" />
        <p>Connecticut’s largest library consortium.</p>
        <button mat-raised-button color="accent">Learn More</button>
      </section>
      <section class="services">
        <mat-card class="service-item">
          <mat-card-header>
            <mat-card-title><fa-icon [icon]="faBook"></fa-icon> Cataloging</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/catalog.png" alt="An old card catalog" />
            <p>Our cataloging services are designed to help libraries of all sizes.</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service-item">
          <mat-card-header>
            <mat-card-title><mat-icon>support_agent</mat-icon> Support</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/support.png" alt="Laptop with code on screen" />
            <p>Our support team is here to help you with any questions or issues you may have.</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service-item">
          <mat-card-header>
            <mat-card-title><fa-icon [icon]="faCogs"></fa-icon> Resources</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/ebook.png" alt="A kindle on a table with coffee and a phone" />
            <p>Our resources are designed to help you find the information you need.</p>
          </mat-card-content>
        </mat-card>
      </section>
    </main>

    <!-- Footer Component -->
    <footer>

    </footer>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>